- content_for(:header) do
  #nav
    %ul.navigation
      %li.dont-show-mobile{"data-slide" => "1"} Home
      %li{"data-slide" => "2"} Próximas clases
      %li{"data-slide" => "4"} Cómo funciona
      %li.dont-show-mobile{"data-slide" => "5"} Equipo

#slide-home.slide{"data-slide" => "1", "data-stellar-background-ratio" => "0.5"}
  .container.clearfix
    .content.grid_8
      %h1
        Clases prácticas, cortas y 
        %span.destacar al grano. 
        O tu dinero de vuelta.
      %p
        %a{ :href => "#", "data-slide" => "2" }
          %img{src: "assets/bn-proximasclases.png"}
#slide2.slide{"data-slide" => "2", "data-stellar-background-ratio" => "0.5"}
  .container.clearfix
    .content.grid_12.omega
      %h1 Próximas clases
    .event.grid_12.omega
      /Aspectos contables
      .date
        %p
          17
          %span DIC

      %h2 
        =link_to "aspectos contables y legales al formar una empresa", clase1_path
      %h3 17 de diciembre de 2013 / 19:00 a 21:00
      %h3 hotel rugendas, callao 2123, las condes
      %h3 expositores: julio deramond y victor luke
      %p
        El objetivo del curso es que el alumno sepa cuáles son los tips más relevantes y/o críticos en cuanto al manejo de la contabilidad al momento de emprender. 
      %p
        De manera análoga, también se busca que el alumno maneje un lenguaje básico para relacionarse con un abogado y esté al tanto de los trámites fundamentales.
      %h4 tipos de sociedad y esquemas de participación
      %ul
        %li ¿Por qué una sociedad? Cuándo no conviene / no aplica la persona natural.
        %li Tipos de sociedad. Sociedades de personas y de capital. EIRL, LTDA, SpA, SA. Similitudes y diferencias.
        %li Acuerdos de participación. Acciones. Protección para los socios y la empresa. Vesting.
        %li Estructura de una empresa. Accionistas, directorio, administración, etc.
      %h4 constitución de sociedad e iniciación de actividades
      %ul
        %li Cómo constituir una sociedad. 
        %li Checklist para constitución vía Internet: requisitos, limitaciones, costos y plazos. 
        %li Checklist para constitución presencial: actores, papeles, costos y plazos.
        %li Otros requisitos para iniciar actividades. RUT, patente, permisos. Actores, papeles, costos y plazos.
      %h4 obligaciones contables y tributarias
      %ul
        %li Relación con el Servicio de Impuestos Internos (obligaciones Mensuales y Anuales)
        %li Facturación y tratamiento del IVA (Crédito y Débito)
        %li Boletas de Honorarios
        %li Impuesto de primera y segunda categoría. Retiros versus sueldos. Global complementario. FUT. Pago de PPM.
      .bottomline
        %span $20.000
        = link_to "", clase1_path, class: "inscripcion"
#slide4.slide{"data-slide" => "4"}
  .container.clearfix
    .grid_12
      %h1 Cómo funciona
    .grid_4.faq
      .circle
        %div 1
      %p
        %h3 Escogiendo la clase 
      %p
        En esta página aparecen todos los cursos que están próximos a dictarse. Si el curso que buscas no aparece, puedes
        = link_to "contactartnos.", "mailto:contacto@startclass.cl"
    .grid_4.faq
      .circle
        %div 2
      %p
        %h3 En la sala
      %p
        En una clase Startclass no hay bla blá. Como queremos hacer clases prácticas y al grano, éstas son cortas y parten a la hora indicada. Te recomendamos llegar unos 10 minutos antes. Te entregaremos un cuaderno para tomar notas.
    .grid_4.faq.omega
      .circle
        %div 3
      %p
        %h3 Garantía de satisfacción
      %p
        Queremos cambiar la forma en la que se hace capacitación en Chile. Si no quedaste conforme con la clase, te devolvemos el 100% de tu dinero. Sin preguntas ni condiciones.

#slide5.slide{"data-slide" => "5", "data-stellar-background-ratio" => "0.5"}
  .container.footer.clearfix
    .grid_12.omega
      %h1 Equipo
    .grid_4.member
      = image_tag "mugshot-sm.jpg"
      %h3 Sebastián Manhood
      %p Ingeniero Comercial
      %p Universidad Adolfo Ibáñez
    .grid_4.member
      = image_tag "mugshot-3.jpg"
      %h3 Victor Luke
      %p Abogado
      %p Universidad Adolfo Ibáñez
    .grid_4.member.omega
      = image_tag "mugshot-sg.jpg"
      %h3 Sebastián Giacoman
      %p Ingeniero Comercial
      %p Universidad Adolfo Ibáñez
    .grid_4.member
      = image_tag "mugshot-3.jpg"
      %h3 Pablo Marambio
      %p Ingeniero Industrial
      %p Universidad Católica de Chile
    .grid_4.member
      = image_tag "mugshot-vf.jpg"
      %h3 Vicente Fernández
      %p Magister en Emprendimiento
      %p Universidad Adolfo Ibáñez
    .grid_4.member.omega
      = image_tag "mugshot-smc.jpg"
      %h3 Sebastián Marambio
      %p Cientista Político, Economista
      %p Harvard University
    .grid_4.member
      = image_tag "mugshot-3.jpg"
      %h3 Julio Deramond
      %p Contador Auditor, MBA
      %p Universidad Adolfo Ibáñez

#slide-footer.slide{"data-slide" => "6", "data-stellar-background-ratio" => "0.5"}
  .container.footer.clearfix
    .grid_4
      %ul
        %li= link_to "contacto@startclass.cl", "mailto:contacto@startclass.cl"
        %li Los Laureles 1035, Vitacura
        %li= link_to "Trabaja con nosotros", "mailto:contacto@startclass.cl"
    .grid_4
      %ul 
        %li Términos y condiciones