- content_for(:header) do
  #nav
    %ul.navigation
      %li.dont-show-mobile{"data-slide" => "1"} Home
      %li{"data-slide" => "2"} Próximas clases
      %li{"data-slide" => "4"} Cómo funciona
      %li.dont-show-mobile{"data-slide" => "5"} Equipo

#slide-home.slide{"data-slide" => "1", "data-stellar-background-ratio" => "0.5"}
  .container.clearfix
    .content.grid_8
      %h1
        Clases prácticas para
        %span.destacar tus ideas.
        O tu dinero de vuelta.
      %p
        %a{ :href => "#", "data-slide" => "2" }
          %img{src: "assets/bn-proximasclases.png"}
#slide2.slide{"data-slide" => "2", "data-stellar-background-ratio" => "0.5"}
  .container.clearfix
    .content.grid_12.omega
      %h1 Próximas clases
    .event.grid_12.omega
      /Aspectos contables
      .date
        %p
          13
          %span MAR
      %h2 
        =link_to "cómo partir tu negocio: ¿sociedad de responsabilidad limitada o por acciones?", clase13marzo_path

      %h3 jueves 13 de marzo 2014 / 19:45 a 22:00
      %h3 centro de eventos vitacura, san félix 1318, vitacura
      %h3 expositor: alan krausz 
      %p
        En este curso aprenderás a elegir la sociedad que mejor se adapte a tu idea y conocer sus diferencias. Entregaremos recomendaciones legales básicas para constituir y operar una empresa. Tipos de sociedades (EIRL, SpA, Ltda, entre otras.), cumplimiento de obligaciones tributarias y el lenguaje mínimo para relacionarse con un abogado.

      %h3 resumen del temario
      %ul
        %li Tipos de sociedad
        %li Esquemas de participación
        %li Constitución e inicio de actividades
      .bottomline
        %span $25.000
        = link_to "", clase13marzo_path, class: "inscripcion"

    .event.grid_12.omega
      /Aspectos contables
      .date
        %p
          27
          %span MAR
      %h2 
        =link_to "comenzando un negocio de importaciones en chile", clase27marzo_path

      %h3 jueves 27 de marzo 2014 / 19:45 a 22:00
      %h3 co-work, la concepción 141, of. 501, providencia
      %h3 expositor: benjamín de amesti
      %p
        Curso para emprendedores con o sin conocimiento en comercio internacional que deseen generar ingresos a través de un exitoso negocio de importaciones.

      %h3 resumen del temario
      %ul
        %li Necesidad
        %li Proveedores
        %li Transporte
        %li Internacion

      .bottomline
        %span $30.000
        = link_to "", clase27marzo_path, class: "inscripcion"

    .event.grid_12.omega
      /Finanzas para Emprendedores
      %h2 finanzas para emprendedores (próximamente)
      %h3 fecha y hora por definir
      %p
        Este curso está orientado a emprendedores que requieran (a) evaluar futuros proyectos y (b) presentar proyectos a inversionistas.
      .bottomline
        %span $20.000
        = link_to "", "#", class: "avisenme", :"data-curso" => "finanzas para emprendedores"

    .event.grid_12.omega
      /Finanzas para Emprendedores
      %h2 modelos de negocio (próximamente)
      %h3 fecha y hora por definir
      %p
        Este curso busca brindarle a los emprendedores herramientas útiles para descubrir cuál es el modelo de negocios que mejor aplica para sus ideas.
      %p
        Tocaremos modelos de negocio comunes para distintos rubros, distintas técnicas y formatos, y cómo pivotear modelos hasta descubrir el apropiado.
      .bottomline
        %span $20.000
        = link_to "", "#", class: "avisenme", :"data-curso" => "modelos de negocio"

    .event.grid_12.omega
      %h2 30 días desde una idea hasta una decisión (próximamente)
      %h3 fecha y hora por definir
      %p
        Este curso busca entregarles a los emprendedores una ruta para evaluar, a través de un procedimiento definido y simple, el potencial de sus ideas en 30 días.
      .bottomline
        %span $20.000
        = link_to "", "#", class: "avisenme", :"data-curso" => "30 dias para decidir"

    .event.grid_12.omega
      %h2 responsabilidades contables a la hora de iniciar tu empresa (próximamente)
      %h3 fecha y hora por definir
      %p
        Comprender cuáles son, cómo funcionan y que significan las distintas obligaciones y responsabilidades que tendrán que enfrentar en el día a día de sus empresas, tales como: Relación con el Servicio de Impuestos Internos (obligaciones Mensuales y Anuales), Facturación y tratamiento del IVA (Crédito y Débito), Boletas de Honorarios, Pago de PPM, Impuestos a las diferentes categorías, FUT, Global Complementario, diferencia entre sueldos y retiros, Contratos y Pago de imposiciones, entre otros temas relevantes que son vitales para mantener una empresa ordenada.
      .bottomline
        %span $20.000
        = link_to "", "#", class: "avisenme", :"data-curso" => "contabilidad"



    .content.grid_12.omega
      %h1 Clases anteriores
    .event.grid_12.omega
      /Aspectos contables
      .date
        %p
          17
          %span DIC
      %h2 
        =link_to "responsabilidades contables y societarias a la hora de emprender un negocio", clase1_path
      %h3 17 de diciembre de 2013 / 19:30 a 21:30
      %h3 hotel rugendas, callao 3123, las condes
      %h3 expositores: julio deramond y alan krausz 
      %p
        El objetivo del curso es que el alumno sepa cuáles son los tips más relevantes y/o críticos en cuanto al manejo de la contabilidad al momento de emprender. 
      %p
        De manera análoga, también se busca que el alumno maneje un lenguaje básico para relacionarse con un abogado y esté al tanto de los trámites fundamentales.

      %h3 resumen del temario
      %ul
        %li Tipos de sociedad y esquemas de participación
        %li EIRL, LTDA, SpA, SA. Similitudes y diferencias.
        %li Acuerdos de participación.
        %li Checklist para constitución de tu sociedad: requisitos, limitaciones, costos y plazos.
        %li Relación con el SII: obligaciones Mensuales y Anuales, facturación y tratamiento del IVA
        %li Impuesto de primera y segunda categoría, FUT
      .bottomline
        %span $20.000
        = link_to "", clase1_path, class: "inscripcion"
#slide4.slide{"data-slide" => "4"}
  .container.clearfix
    .grid_12
      %h1 Cómo funciona
    .grid_4.faq
      .circle
        %div 1
      %p
        %h3 Escogiendo la clase 
      %p
        Haz click en "Próximas Clases" y selecciona las que más te interesen. Si no encuentras una clase de tu interés envíanos un mensaje
        = link_to "haciendo click aquí.", "#", class: "contacto"
    .grid_4.faq
      .circle
        %div 2
      %p
        %h3 En la sala
      %p
        En una clase Startclass no hay bla blá. Como queremos hacer clases prácticas y al grano, éstas son cortas y parten a la hora indicada. Te recomendamos llegar unos 10 minutos antes.
    .grid_4.faq.omega
      .circle
        %div 3
      %p
        %h3 Garantía de satisfacción
      %p
        Queremos cambiar la forma en la que se hace capacitación en Chile. Si no quedaste conforme con la clase, te devolvemos el 100% de tu dinero. Sin preguntas ni condiciones.

#slide5.slide{"data-slide" => "5", "data-stellar-background-ratio" => "0.5"}
  .container.footer.clearfix
    .grid_12.omega
      %h1 Equipo
    .grid_4.member
      = image_tag "mugshot-smc.jpg"
      %h3 Sebastián Marambio
      %p Cientista Político, Economista
      %p Harvard University
    .grid_4.member
      = image_tag "mugshot-vf.jpg"
      %h3 Vicente Fernández
      %p Magister en Innovación
      %p Universidad Adolfo Ibáñez
    .grid_4.member.omega
      = image_tag "mugshot-sm.jpg"
      %h3 Sebastián Manhood
      %p Ingeniero Comercial
      %p Universidad Adolfo Ibáñez
    .grid_4.member
      = image_tag "mugshot-pm.jpg"
      %h3 Pablo Marambio
      %p Ingeniero Industrial
      %p Universidad Católica de Chile
    .grid_4.member
      = image_tag "mugshot-sg.jpg"
      %h3 Sebastián Giacoman
      %p Ingeniero Comercial
      %p Universidad Adolfo Ibáñez

#slide-footer.slide{"data-slide" => "6", "data-stellar-background-ratio" => "0.5"}
  .container.footer.clearfix
    .grid_6
      %ul
        %li= link_to "Formulario de contacto", "#", class: "contacto"
        %li Los Laureles 1035, Vitacura
        %li Términos y condiciones
    .grid_6.logo.omega
      = image_tag "logo-2-1.png"

#dialog-contacto{style: "display:none;"}
  %p.validateTips Déjanos tu teléfono o correo electrónico para contactarte
  %form.dialog
    %fieldset
      %label{for: "name"} Nombre
      %input.text.ui-widget-content.ui-corner-all{name: "name", type: "text"}/
      %label{for: "phone"} Teléfono
      %input.text.ui-widget-content.ui-corner-all{name: "phone", type: "text", value: ""}/
      %label{for: "email"} Email
      %input.text.ui-widget-content.ui-corner-all{name: "email", type: "email", value: ""}/
      %label{for: "comment"} Comentario
      %textarea.text.ui-widget-content.ui-corner-all{name: "comment", rows: 5}

#dialog-avisenme{style: "display:none;"}
  %p.validateTips Déjanos tu teléfono o correo electrónico para contactarte cuando el curso esté disponible
  %form.dialog
    %fieldset
      %label{for: "name"} Nombre
      %input.text.ui-widget-content.ui-corner-all{name: "name", type: "text"}/
      %label{for: "phone"} Teléfono
      %input.text.ui-widget-content.ui-corner-all{name: "phone", type: "text", value: ""}/
      %label{for: "email"} Email
      %input.text.ui-widget-content.ui-corner-all{name: "email", type: "email", value: ""}/
#dialog-ok{style: "display:none;"}
  %h1#successTip &nbsp;

- content_for :script do
  :plain
    var name =       null;
    var phone =      null;
    var email =      null;
    var comment =    null;
    var tips =       null;
    var allFields =  null;
    var defaultTip = null;
    var successTip = null;

    var emailRegexp = /^((([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+(\.([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+)*)|((\x22)((((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(([\x01-\x08\x0b\x0c\x0e-\x1f\x7f]|\x21|[\x23-\x5b]|[\x5d-\x7e]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(\\([\x01-\x09\x0b\x0c\x0d-\x7f]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))))*(((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(\x22)))@((([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.)+(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.?$/i;
    var phoneRegexp = /^(\+)?[0-9 ][0-9 \-]{7,}$/;
    var nameRegexp = /[a-z]+/i;

    function loadFields(where) {
      name = $(where + " input[name='name']");
      phone = $(where + " input[name='phone']");
      email = $(where + " input[name='email']");
      comment = $(where + " textarea");
      allFields = $( [] ).add( name ).add( email ).add( phone ).add( comment );
      tips = $(where + " p.validateTips");
    }

    function updateTips( t ) {
      if(t) {
        tips
          .text( t )
          .addClass( "ui-state-highlight", 200 )
          .removeClass( "ui-state-highlight", 200 )
          .addClass( "ui-state-highlight", 200 )
          .removeClass( "ui-state-highlight", 200 );
      } else {
        tips.text(defaultTip);
      }
    }

    function checkRegexp( o, regexp, n, alert ) {
      if(alert !== false) alert = true;
      if ( !( regexp.test( o.val() ) ) ) {
        if(alert) {
          o.addClass( "ui-state-error" );
          updateTips( n );
        }
        return false;
      } else {
        return true;
      }
    }

    $("a.avisenme").click(function(e){
      loadFields("#dialog-avisenme");
      defaultTip = "Déjanos tu teléfono o correo electrónico para contactarte cuando el curso esté disponible";
      successTip = "Te avisaremos cuando el curso esté disponible";
      var evento = $(this).attr("data-curso");
      $("#dialog-avisenme").dialog({
        modal: true,
        title: "Curso '" + evento + "'",
        buttons: {
          "Guardar": function() {
            var valid = true;
            var contacto = false;
            updateTips();
            allFields.removeClass( "ui-state-error" );
            valid = valid && checkRegexp(name, nameRegexp, "Por favor escribe tu nombre");
            contacto = contacto || checkRegexp(phone, phoneRegexp, "", false);
            contacto = contacto || checkRegexp(email, emailRegexp, "", false);
            if(!valid) return;
            if(!contacto) {
              email.add(phone).addClass("ui-state-error");
              updateTips("Por favor ingresa un celular o correo electrónico válido");
            }
            if(valid && contacto) {
              vName = name.val();
              vPhone = phone.val();
              vEmail = email.val();
              $.post("/contacto/", { contact: { user: vName, phone: vPhone, email: vEmail, event: evento } }, function () {
                $("#dialog-avisenme").dialog("close");
                $("h1#successTip").text(successTip);
                $("#dialog-ok").dialog({modal: true, buttons: {OK: function() {$( this ).dialog( "close" );}}})
              });
            }
          },
          "Cancelar": function () { $( this ).dialog( "close" ); }
        }
      });
      e.preventDefault();
    });

    $("a.contacto").click(function(e){
      loadFields("#dialog-contacto");
      defaultTip = "Déjanos tu comentario y teléfono o correo electrónico para contactarte";
      successTip = "Gracias. Te contactaremos lo antes posible.";
      $("#dialog-contacto").dialog({
        modal: true,
        title: "Contacto",
        buttons: {
          "Guardar": function() {
            var valid = true;
            var contacto = false;
            updateTips();
            allFields.removeClass( "ui-state-error" );
            valid = valid && checkRegexp(name, nameRegexp, "Por favor escribe tu nombre");
            valid = valid && checkRegexp(comment, nameRegexp, "Te faltó el comentario");
            contacto = contacto || checkRegexp(phone, phoneRegexp, "", false);
            contacto = contacto || checkRegexp(email, emailRegexp, "", false);
            if(!valid) return;
            if(!contacto) {
              email.add(phone).addClass("ui-state-error");
              updateTips("Por favor ingresa un celular o correo electrónico válido");
            }
            if(valid && contacto) {
              vName = name.val();
              vPhone = phone.val();
              vEmail = email.val();
              vComment = comment.val();
              $.post("/contacto/", { contact: { user: vName, phone: vPhone, email: vEmail, comment: vComment } }, function () {
                $("#dialog-contacto").dialog("close");
                $("h1#successTip").text(successTip);
                $("#dialog-ok").dialog({modal: true, buttons: {OK: function() {$( this ).dialog( "close" );}}})
              });
            }
          },
          "Cancelar": function () { $( this ).dialog( "close" ); }
        }
      });
      e.preventDefault();
    });
