- content_for(:header) do
  #nav
    %ul.navigation
      %li.dont-show-mobile{"data-slide" => "1"} Home
      %li{"data-slide" => "2"} Próximas clases
      %li{"data-slide" => "4"} Cómo funciona
      %li.dont-show-mobile{"data-slide" => "5"} Profesores

#slide-home.slide{"data-slide" => "1", "data-stellar-background-ratio" => "0.5"}
  .container.clearfix
    .content.grid_8
      %h1
        Clases prácticas, cortas y 
        %span.destacar al grano. 
        O tu dinero de vuelta.
      %p
        %a{ :href => "#", "data-slide" => "2" }
          %img{src: "assets/bn-proximasclases.png"}
#slide2.slide{"data-slide" => "2", "data-stellar-background-ratio" => "0.5"}
  .container.clearfix
    .content.grid_12.omega
      %h1 Próximas clases
    - Event.upcoming_for("Santiago").each do |e|
      .event.grid_12.omega
        %h2
          = link_to e.name, public_show_event_path(e) 
        %h3
          #{e.when.strftime "%Y/%m/%d"} / #{e.when.strftime "%H:%M"} / #{e.address} / #{e.city}
        %p= e.description
        .bottomline
          %span
            #{number_to_currency e.price, precision: 2}
          - if user_signed_in? && e.users.where(id: current_user.id).any?
            You already applied!
          - else
            = link_to "", public_show_event_path(e), class: "apply_with_linkedin"
#slide4.slide{"data-slide" => "4"}
  .container.clearfix
    .grid_12
      %h1 Cómo funciona
    .grid_4.faq
      .circle
        %div 1
      %p
        %h3 Escogiendo la clase 
      %p
        En esta página aparecen todos los cursos que están próximos a dictarse. Si el curso que buscas no aparece, puedes
        = link_to "contactartnos.", "mailto:contacto@startclass.cl"
    .grid_4.faq
      .circle
        %div 2
      %p
        %h3 En la sala
      %p
        En una clase Startclass no hay bla blá. Como queremos hacer clases prácticas y al grano, éstas son cortas y parten a la hora indicada. Te recomendamos llegar unos 10 minutos antes. Te entregaremos un cuaderno para tomar notas.
    .grid_4.faq.omega
      .circle
        %div 3
      %p
        %h3 Garantía de satisfacción
      %p
        Queremos cambiar la forma en la que se hace capacitación en Chile. Si no quedaste conforme con la clase, te devolvemos el 100% de tu dinero. Sin preguntas ni condiciones.

#slide5.slide{"data-slide" => "5", "data-stellar-background-ratio" => "0.5"}
  .container.footer.clearfix
    .grid_12.omega
      %h1 Profesores
    .grid_4.member
      = image_tag "mugshot-3.jpg"
      %h3 Pablo Andrés Marambio Cathalifaud
      %p Subgerente Comercial TocToc
      %p Ingeniería UC
    .grid_4.member
      = image_tag "mugshot-2.jpg"
      %h3 Querubina Loca
      %p Catadora de Vinos Profesional
      %p Aplaplac
    .grid_4.member.omega
      = image_tag "mugshot-1.jpg"
      %h3 Carlos
      %p Chief Assistant

#slide-footer.slide{"data-slide" => "6", "data-stellar-background-ratio" => "0.5"}
  .container.footer.clearfix
    .grid_4
      %ul
        %li= link_to "contacto@startclass.cl", "mailto:contacto@startclass.cl"
        %li Los Laureles 1035, Vitacura
        %li +56 2 2920 4862
        %li= link_to "Trabaja con nosotros", "mailto:contacto@startclass.cl"
    .grid_4
      %ul
        %li FAQ
        %li Pricing
        %li Terms & Conditions
        %li Become a partner